Source: python3-pirogue-admin-api
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-setuptools,
 python3-grpcio,
 python3-yaml,
 quilt,
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/pirogue-admin
Rules-Requires-Root: no

Package: python3-pirogue-admin-api
Architecture: all
Depends:
 python3-grpcio,
 python3-yaml,
 ${python3:Depends},
 ${misc:Depends},
Description: PiRogue administration tool API
 This package defines the communication the communication protocol
 between the administration client and daemon for PiRogue.
